@font-face {
    font-family: 'mononoki';
    font-display: swap;
    src: url('../fonts/mononoki-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'LXGWWenKaiScreen';
    font-display: swap;
    src: url('../fonts/LXGWWenKaiScreen.ttf') format("truetype");
}