@font-face {
    font-family: 'mononoki';
    font-display: swap;
    src: url('../fonts/mononoki-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'LXGWWenKaiGBLite';
    font-display: swap;
    src: url('../fonts/LXGWWenKaiGBLite-Medium.ttf') format("truetype");
}